################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/ma3smwemu/v16
/ma3smwemu.vcxproj.user
/ma3smwemu.vcxproj.filters
/ma3smwemu.vcxproj
